<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for='item in items':key='item.id'>{{item.content}}<button @click='del(item.id)'>删除</button></li>
        </ul>
        <div>
            <input v-model='newAddItem'>
            <button type="submit" @click='add'>添加</button>
        </div>
    </div>
    <script src="/20181208/js/vue.js"></script>
    <script>
        let id=1
        let vm = new Vue ({
            el:'#app',
            data:{
                items:[],
                newAddItem:''
            },
            methods:{
                add:function(){
                    this.items.push({
                        id:id++,
                        content:this.newAddItem
                    });
                },
                del:function(id){
                    const newItems=[];
                    for (let index = 0; index < this.items.length; index++) {
                        const currentItem = this.items[index]
                         if (currentItem.id!=id) {
                             newItems.push(currentItem)
                         }
                    }
                    this.items=newItems;
                }
            }
        })
    </script>
</body>

</html>